.Header{
    padding: 19px 0;
    position: relative;
    z-index: 3;
    background-color: #FFFFFF;
}
.HeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HeaderLogo{
    max-width: 250px;
    width: 100%;
}
.HeaderList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 268px;
    width: 100%;
}
.HeaderItem{
    font-size: 16px;
    line-height: 24px;
}
.HeaderButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
}
.HeaderLogIn{
    font-size: 16px;
    color: #274B90;
    font-weight: 600;
}
.HeaderRegistr{
    font-size: 16px;
    padding: 11px 24px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #305DB4;
    border-radius: 8px;
}
.HeaderMobile{
    display: none;
}
.HeaderMobileBtn{
    position: relative;
    width: 28px;
    height: 24px;
}
.HeaderMobileBtn::after, .HeaderMobileBtn::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #505864;
    transition: 0.36s ease-in-out;
}
.HeaderMobileBtn::after{
    top: 0;
}
.HeaderMobileBtn::before{
    bottom: 0;
}
.HeaderMobileBtnStroke{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #505864;
    opacity: 1;
    transition: 0.36s ease-in-out;
}
.HeaderMobileBtn_Active > .HeaderMobileBtnStroke{
    opacity: 0;
}
.HeaderMobileBtn_Active::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.HeaderMobileBtn_Active::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.Overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0;
    z-index: -1;
    transition: 0.36s ease-in-out;
}
.Overlay_Active{
    opacity: .3;
    z-index: 1;
}
@media (max-width: 960px) {
    .HeaderButtons{
        justify-content: flex-end;
    }
    .HeaderRegistr{
        margin-left: 24px;
    }
    .HeaderLogo{
        width: auto;
    }
}
@media (max-width: 760px){
    .HeaderList{
        display: none;
    }
    .HeaderButtons{
        display: none;
    }
    .HeaderMobile{
        display: block;
    }
}