.HeaderItem{
    font-size: 16px;
    line-height: 24px;
}
.HeaderLogIn{
    font-size: 16px;
    color: #274B90;
    font-weight: 600;
}
.HeaderRegistr{
    font-size: 16px;
    padding: 11px 24px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #305DB4;
    border-radius: 8px;
}
.HeaderMobile{
    display: none;
}
.HeaderMobileBtn{
    position: relative;
    width: 28px;
    height: 24px;
}
.HeaderMobileBtn::after, .HeaderMobileBtn::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #505864;
    transition: 0.36s ease-in-out;
}
.HeaderMobileBtn::after{
    top: 0;
}
.HeaderMobileBtn::before{
    bottom: 0;
}
.HeaderMobileBtnStroke{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #505864;
    opacity: 1;
    transition: 0.36s ease-in-out;
}
.HeaderMobileList{
    position: absolute;
    top: 68px;
    right: -130%;
    z-index: -1;
    width: 100%;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    transition: 0.36s ease-in-out;
}
.HeaderMobileList > .HeaderItem{
    text-align: center;
    margin-bottom: 25px;
}
.HeaderMobileList > .HeaderLogIn{
    width: 300px;
}
.HeaderMobileList > .HeaderRegistr{
    margin-left: 0;
    margin-bottom: 24px;
    width: 100%;
}
.HeaderMobileBtn_Active > .HeaderMobileBtnStroke{
    opacity: 0;
}
.HeaderMobileBtn_Active::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.HeaderMobileBtn_Active::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.HeaderMobileList_Active{
    right: 0;
}
@media (max-width: 760px){
    .HeaderMobile{
        display: block;
    }
}