.HeaderItem{
    font-size: 16px;
    line-height: 24px;
}
.HeaderLogIn{
    font-size: 16px;
    color: #274B90;
    font-weight: 600;
}
.HeaderRegistr{
    font-size: 16px;
    padding: 11px 24px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #305DB4;
    border-radius: 8px;
}
.HeaderMobile{
    display: none;
}
.HeaderMobileList{
    position: absolute;
    top: -300px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    transition: 0.36s ease-in-out;
}
.HeaderMobileList > .HeaderItem{
    text-align: center;
    margin-bottom: 25px;
}
.HeaderMobileList > .HeaderLogIn{
    width: 300px;
}
.HeaderMobileList > .HeaderRegistr{
    margin-left: 0;
    margin-bottom: 24px;
    width: 100%;
}
.HeaderMobileList_Active{
    top: 68px;
}
@media (max-width: 760px){
    .HeaderMobile{
        display: block;
    }
}