.Mailing{
    padding: 100px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MailingContainer{
    max-width: 784px;
    width: 100%;
    padding: 36px 0;
    background-color: #274B90;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.MailingTitle{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    max-width: 410px;
    margin-bottom: 36px;
}
.MailingForm{
    padding: 10px 24px;
    background-color: #FFFFFF;
    border: 1px solid #C7D6E3;
    box-shadow: 0px 4px 24px rgba(27, 29, 33, 0.15);
    border-radius: 16px;
    width: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MailingInput{
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #8593A7;
    flex-grow: 1;
}
.MailingBtn{
    padding: 9px 36px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background-color: #305DB4;
    border-radius: 16px;    
}
@media (max-width: 652px){
    .Mailing{
        padding: 40px 0 0;
    }
    .MailingContainer{
        padding: 64px 0 84px;
    }
    .MailingTitle{
        font-size: 24px;
    }
    .MailingContainer{
        border-radius: 0;
    }
    .MailingForm{
        flex-direction: column;
        background-color: inherit;
        border: none;
        box-shadow: none;
    }
    .MailingInput{
        width: 100%;
        padding: 13px 12px;
        background: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 16px;
    }
    .MailingBtn{
        width: 100%;
        background: #E1EBFF;
        border-radius: 8px;
        color: #274B90;
        padding: 13px 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
    }
}