.Internship{
    padding: 60px 0;
}
.InternshipTitle{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    color: #1B1D21;
    text-align: center;
    margin-bottom: 80px;
}
.InternshipContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.InternshipList{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.InternshipImage{
    width: 100%;
    max-width: 450px;
}
.InternshipItem{
    margin-bottom: 20px;
    max-width: 487px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.InternshipItem > svg{
    min-width: 64px;
    min-height: 64px;
}
.InternshipItemWrapper{
    margin-left: 48px;
}
.InternshipItemTitle{
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #1B1D21;
}
.InternshipItemText{
    font-size: 16px;
    line-height: 130%;
    color: #505864;
    line-height: 160%;
}
@media (max-width: 1110px) {
    .InternshipContent{
        flex-direction: column;
    }
    .InternshipList{
        order: 1;
    }
    .InternshipImage{
        width: 100%;
        height: auto;
        order: 2;
    }
}
@media (max-width: 652px){
    .InternshipTitle{
        font-size: 24px;
        margin-bottom: 48px;
    }
    .InternshipItemWrapper{
        margin-left: 40px;
    }
    .InternshipItemTitle{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .InternshipItemText{
        font-size: 14px;
    }
}