.Footer{
    background-color: #1B1D21;
    color: #FFFFFF;
    padding: 36px 0;
}
.FooterTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #C7D6E3;
}
.FooterBottom{
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}